## logs
LOG_LEVEL = INFO
LOG_FILE = "logs/app.log"

## LLMs
GEMINI_API_KEY="" #but your API key 
GEMINI_MODEL_NAME="gemini-1.5-flash"

## transcriber provider
TRANSCRIBER_PROVIDER = "localWhisper" #(localwhisper,whisperapi,groq,assemblyai)
GROQ_API_KEY = "" # your groq API key 
GROQ_WHISPER_MDOEL = "whisper-large-v3"
